body{
    background-color:#000;
}
a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.button {
	background: #185da8;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	padding: 10px;
	width: 200px;
}

a.button:hover {
	background: #2488f5;
	text-decoration: none;
}

#gameUI {
	height: 500px;
	margin:30px auto;
	width:980px;
    background: #001022;
    padding-top:100px;
    overflow:hidden;
}
#gameUI #timeInner{
    line-height:24px;
}
#gameUI h1{
    font-size:30px;
    line-height:60px;
}
#gameUI p{
    line-height:36px;
}
#gameIntro p{
    color:#ccc;
}
#gameIntro, #gameComplete {
	background: rgba(0, 0, 0, 0.5);
	margin-top: 80px;
	padding: 40px 0;
	text-align: center;
}
#gameComplete{
    display:none;
}
#main{
    width:980px;
    margin:30px auto 0;
    padding:280px 0 0 0;
    position:relative;
    display:none;
    height:320px;
    background: #001022;
}
.info{
    position:absolute;
    left:180px;
    top: 270px;
}
.figure{
    cursor:move;
    opacity:0.9;
}
.figure:hover{
    opacity:1;
}