*{margin:0;padding:0}
body{text-align:center;font-family:'微软雅黑','宋体';font-size:14px;}
li{list-style:none}
.clearfix:after{content:'.';clear:both;height:0;display:block;visibility:hidden}

.vesion{ color:#eee;padding:0 3px;font:16px/24px normal;font-family:'微软雅黑';}

.content{ width:600px;margin:5px auto;padding:10px;border:1px solid #000;-webkit-border-radius:5px;}
.LeftContent{float:left;width:300px;}
.RightContent{float:right;width:290px;opacity:.95;text-align:left}

.playlist{margin:5px auto 0;clear:both;text-align:left}