.wrapper{padding:5px;background:#676767;width:630px;margin:20px auto;-webkit-border-radius:5px;}

.nice{ color:#F5E543;overflow:hidden;max-width:140px;text-overflow:ellipsis;white-space:nowrap;}

.along{overflow:hidden;}
#player{position:relative;}
.ctrlMusic{margin:3px auto 0;padding:4px 5px;background-color:#0F1F03;

background-image:
	-webkit-gradient(linear,left top,left bottom,
	color-stop(0.01, #1F810A),
	color-stop(0.65, #194208),
	color-stop(1, #194208));	
	-webkit-border-radius:2px;
	clear:both;
}
.ctrlMusic a{width:24px;height:24px;border:1px solid #98B78B;display:block;background:url(data:image/gif;base64,R0lGODlhDgAoAIABAISrcgAAACH5BAEAAAEALAAAAAAOACgAAAJKjI8IkB3L3IFLPhobhnpX5X1GSI0kd37pFCati0mxLNLWjef5fKGl6eMAK7xYsXQMioy/HrHJFDoZyac0ukRCtVduVpnBhr1jTgEAOw==) no-repeat 0 5px;overflow:hidden;float:left;-webkit-border-radius:5px;}
.ctrlMusic a.play{background-position:5px 3px;}
.ctrlMusic a.play:hover{background-position:5px -19px;}
.ctrlMusic a.pause{background-position:5px -19px;}
.ctrlMusic a.pause:hover{background-position:5px 3px;}
.ctrlMusic .songName{padding:0 8px;line-height:26px;color:#ddd;text-align:left;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:240px;}

.musicList{margin:0 auto;padding:0;}
.musicList h2.title{line-height:22px;color:#fff;font-size:14px;font-weight:normal;margin:0 auto 2px;padding:2px 5px;background-image:
	-webkit-gradient(linear,left top,left bottom,
	color-stop(0.01, #1F810A),
	color-stop(0.65, #194208),
	color-stop(1, #194208));
-webkit-border-radius:2px;}
.musicList .MusicShow{padding:0 0;height:159px;overflow:auto;background-color:#333;background-image:
	-webkit-gradient(linear,left top,right top,
	color-stop(0.01, #333),
	color-stop(0.4, #454545),
	color-stop(0.7, #454545),
	color-stop(1, #333));
-webkit-border-radius:2px;}
.musicList .MusicShow a{padding:2px 3px;color:#C4C6C6;display:block;text-decoration:none;}
.musicList .MusicShow a:hover{ color:#fff;background-color:#585858}
.musicList .MusicShow .act , .musicList .MusicShow .act:hover{color:#F2E812;background-color:#989898;
background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			-webkit-background-size: 40px;
			-webkit-animation: move 2s linear infinite; }
			
@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
}
